.Navbar__container {
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background: rgb(180, 197, 255);
}

.letter_navbar{
  font : bold 1.5rem/1.5rem 'Roboto', sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
